<html>

<head>
    <script src="sweetalert2.min.js"></script>

    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <script type="text/javascript">
        
            Swal.fire({
            title: 'CREDENCIALES INCORRECTAS',
            confirmButtonText: 'OK',

        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                           
                window.location = '/wholemart1.2/index.html';
           
            }
        })
        
        
    </script>



</body>

</html>